.updateStudentBody {
    padding-top: 55px;
}
.studentUpdateContent {
    margin-left: 230px;
    padding: 1px 16px;
    height: 100%;
}
.studentUpdateContent h3 {
    padding: 10px;
    font-weight: 400;
}
