.addStudent {
    width: 100%;
}
.addStudentHeader {
    background: rgb(248, 245, 245);
    position: fixed;
    width: 100%;
    z-index: 1;
}
.addStudentBody {
    padding-top: 55px;
    width: 100%;
}

.studentContent {
    margin-left: 230px;
    padding: 1px 16px;
    height: 100%;
}
.studentContent h3 {
    padding: 10px;
    font-weight: 400;
}
.form {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.formFelid {
    padding: 20px;
}
.formFelid > input {
    margin-left: 50px;
}
.formFelid1 {
    padding: 20px;
}
.formFelid1 > input {
    margin-left: 93px;
}
.formFelid2 {
    padding: 20px;
}
.formFelid2 > input {
    margin-left: 72px;
}
.formFelid3 {
    padding: 20px;
    display: flex;
}
.formFelid3 > select {
    cursor: pointer;
    margin-left: 170px;
    width: 100%;
}
.formFelid4 {
    padding: 20px;
    display: flex;
}
.formFelid4 > select {
    cursor: pointer;
    margin-left: 155px;
    width: 100%;
}
.formFelid5 {
    padding: 20px;
    display: flex;
}
.radio {
    display: flex;
    padding: auto;
    padding-left: 40px;
}
.radio > label {
    margin-left: 20px;
}
.radio > label > input {
    /* margin-left: 20px; */
    margin-right: 10px;
}
.button {
    cursor: pointer;
    margin-left: 140px;
    margin-top: 10px;
    width: 17%;
    height: 30px;
}
button:hover {
    background-color: lightgray;
}
